{
  "botName":"NakBot",
  "tokens":{
    "discord":"SECRET",
    "slack":"SECRET",
  },
  "transfertMessage":"true",
  "commands":["roll", "help"],
  "autoresponses":[
    {
      "keys" : "Ahoy, ahooy",
      "values" : ["Capitaine sur le pont!", "Captain on the bridge!"]
    },
    {
      "keys":  "Hello world",
      "values": ["System.out.println(\"Hello world\");"]
    }
  ]
}